:root {
  --pico-spacing-company: 1rem;
}

h2,
h3,
hgroup > :last-child {
  --pico-font-weight: 200;
}

.hero {
  background-color: #394046;
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--pico-spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--pico-h1-color);
}

header hgroup {
  margin-bottom: var(--pico-spacing-company);
}

.hidden {
  display: none;
}

.selected {
  background-color: #007bff;
  color: white;
  border: 1px solid #0056b3;
}

#modal-header {
  display: grid;
  grid-area: 1 / 1 / 2 / 9;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
}

#modal-header > h2 {
  grid-area: 1 / 2 / 3 / 6;
  text-align: center;
  justify-self: center;
  line-height: 2.5;
  margin-bottom: 0;
}

#close-button {
  grid-area: 1 / 6 / 2 / 7;
  justify-self: flex-end;
  cursor: pointer;
  width: 5vw;
  height: 5vh;
}

#modal-content {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  padding-top: 5px;
}

#modal-buttons {
  display: grid;
  grid-area: 2 / 3 / 5 / 7;
}

#modal-buttons > button {
  margin: 5px;
}

#strength-level-options > h3 {
  text-align: center;
  margin-top: 5px;
}

#strength-level-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}

#color-selection {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#color-choices-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 5px;
}

.color-choice {
  margin: 0 10px;
}

#play-button {
  background-color: #27915a;
}

#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#board-eval-container {
  display: flex;
  flex-direction: row;
}

#eval-gauge-container {
  height: 70vmin;
  width: 20px;
  min-width: 20px;
  overflow: hidden;
}

#eval-gauge {
  transform: rotate(-90deg) translateX(-69.9vmin);
  transform-origin: left top;
  --pico-progress-color: #f0f0f0;
  --pico-progress-background-color: #181818;
  width: 69.9vmin;
  height: 20px;
  min-height: 20px;
  margin-bottom: 0;
}

html[data-theme="dark"] #eval-gauge {
  border: #f0f0f0 1px solid;
}

html[data-theme="light"] #eval-gauge {
  border: #181818 1px solid;
}

#chessboard-container {
  width: 70vmin;
  height: 70vmin;
  min-width: 70vmin;
  position: relative;
}

#chessboard {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

#chessSVG {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.promotion-selector {
  cursor: pointer;
}

.draggingDiv {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#depth-progress {
  height: 5px;
  margin-bottom: 0;
}

#sidebar {
  flex-grow: 1;
  height: 85vmin;
  width: 100%;
  max-width: 375px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#prev-move,
#next-move,
#flip-board,
#import-from-fen,
#reset-board {
  width: 100%;
}

#fen-import-container {
  margin-top: 10px;
}

#fen-input {
  width: 100%;
  margin-bottom: 10px;
}

#submit-fen,
#import-from-fen {
  margin-bottom: 10px;
}

#submit-fen {
  background: #21724a;
}

#flip-board {
  margin-bottom: 10px;
}

#flip-fen-import {
  margin-top: 10px;
}

#stockfish-analysis {
  display: grid;
}

#stockfish-analysis-title {
  text-align: center;
}

#move-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  min-height: 250px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

html[data-theme="light"] .current-move-highlight {
  background: #5eadf1;
  color: #fcfcfc;
  outline: 1px solid #306698;
}

html[data-theme="light"] .current-move-highlight .white-piece {
  color: white;
}

html[data-theme="dark"] .current-move-highlight {
  background: #2c5070;
  outline: 1px solid #306698;
}

html[data-theme="dark"] .current-move-highlight .black-piece {
  color: #212121;
}

.full-move {
  display: flex;
  align-items: center;
  margin: 4px;
}

.move-history-entry {
  cursor: pointer;
  margin: 3px;
}

html[data-theme="light"] .white-piece {
  color: #cdcdcd;
}

html[data-theme="light"] .black-piece {
  color: #303030;
}

html[data-theme="dark"] .white-piece {
  color: #e4e4e4;
}

html[data-theme="dark"] .black-piece {
  color: #434343;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#prev-move {
  margin-right: 10px;
}

#next-move {
  margin-left: 10px;
}

#next-move-icon,
#prev-move-icon {
  aspect-ratio: 1 / 1;
  height: 4vmin;
  width: 100%;
}

#text-areas-container {
  width: 70vmin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#fen-title-box,
#pgn-title-box {
  display: flex;
  align-items: center;
  width: 100%;
}

#fen-title,
#pgn-title {
  flex: 0 0 45px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#pgn-box,
#fen-box {
  flex: 1;
  height: 65px;
  margin-bottom: 10px;
  resize: vertical;
}

@media (max-width: 1010px), (max-height: 850px) {
  #outer-container,
  #game-container,
  #text-areas-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #outer-container {
    padding-top: 10px;
    padding-left: 0;
  }

  .chessboard-wrapper {
    margin-left: 0;
    padding: 10px;
  }

  #chessboard-container {
    height: calc(95vmin - 20px);
    width: calc(95vmin - 20px);
  }

  #eval-gauge-container {
    height: 95vmin;
  }

  #eval-gauge {
    transform: rotate(-90deg) translateX(-93.1vmin);
    width: 93.1vmin;
  }

  #sidebar {
    width: 95vmin;
    height: fit-content;
    max-width: none;
    margin: 0;
  }

  #stockfish-analysis {
    grid-template-columns: repeat(4, 1fr) 0fr;
    grid-template-rows: 2fr 1fr;
  }

  #stockfish-analysis-title {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: flex-end;
    align-self: center;
    margin-right: 10px;
  }

  #stockfish-analysis-toggle {
    grid-area: 1 / 3 / 2 / 5;
    align-self: center;
  }

  #sf-comment {
    grid-area: 2 / 1 / 3 / 5;
    text-align: center;
  }

  #flip-fen-import {
    margin-bottom: 0;
  }

  #move-history {
    width: 100%;
  }

  #navigation {
    order: -1;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #text-areas-container {
    width: 95vmin;
    margin-top: 0;
  }

  #fen-title-box,
  #pgn-title-box {
    flex-direction: column;
  }

  #fen-title,
  #pgn-title {
    order: -1;
    margin: 0;
    --pico-line-height: 2.5;
  }

  #fen-box,
  #pgn-box {
    margin-bottom: 0;
  }
}

@media (max-width: 500px) {
  #stockfish-analysis {
    grid-template-rows: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  #modal-content {
    width: 90vw;
    padding: 5px;
  }

  #modal-content > h2,
  #color-selection > h3,
  #strength-level-options > h3,
  #modal-content > button,
  .color-choice {
    font-size: 18px;
  }

  #modal-buttons {
    grid-area: 2 / 1 / 5 / 9;
  }

  #close-button {
    width: 8vh;
  }

  .color-choice,
  #modal-buttons > button {
    padding: 10px 10px;
    margin: 5px;
  }

  #strength-level-buttons > button {
    flex: 1;
    padding: 3px;
    height: 50px;
    width: 32px;
  }
}
