:root {
  --pico-spacing-company: 1rem;
}

h2,
h3,
hgroup > :last-child {
  --pico-font-weight: 200;
}

.hero {
  background-color: #394046;
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
}

header {
  padding: var(--pico-spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--pico-h1-color);
}

header hgroup {
  margin-bottom: var(--pico-spacing-company);
}

#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#chessboard-container {
  width: 70vmin;
  height: 70vmin;
  min-width: 70vmin;
  position: relative;
}

#chessboard {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

#chessSVG {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.promotion-selector {
  cursor: pointer;
}

.draggingDiv {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sidebar {
  flex-grow: 1;
  height: 85vmin;
  width: 100%;
  max-width: 375px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#prev-move,
#next-move,
#flip-board,
#import-from-fen,
#reset-board {
  width: 100%;
}

#fen-import-container {
  margin-top: 10px;
}

#fen-input {
  width: 100%;
  margin-bottom: 10px;
}

#submit-fen,
#import-from-fen {
  margin-bottom: 10px;
}

#submit-fen {
  background: #21724a;
}

#flip-board {
  margin-bottom: 10px;
}

#flip-fen-import {
  margin-top: 10px;
}

#stockfish-analysis {
  display: grid;
}

#stockfish-analysis-title {
  text-align: center;
}

#move-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

html[data-theme="light"] .current-move-highlight {
  background: #5eadf1;
  color: #fcfcfc;
  outline: 1px solid #306698;
}

html[data-theme="light"] .current-move-highlight .white-piece {
  color: white;
}

html[data-theme="dark"] .current-move-highlight {
  background: #2c5070;
  outline: 1px solid #306698;
}

html[data-theme="dark"] .current-move-highlight .black-piece {
  color: #212121;
}

.full-move {
  display: flex;
  align-items: center;
  margin: 4px;
}

.move-history-entry {
  cursor: pointer;
  margin: 3px;
}

html[data-theme="light"] .white-piece {
  color: #cdcdcd;
}

html[data-theme="light"] .black-piece {
  color: #303030;
}

html[data-theme="dark"] .white-piece {
  color: #e4e4e4;
}

html[data-theme="dark"] .black-piece {
  color: #434343;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#prev-move {
  margin-right: 10px;
}

#next-move {
  margin-left: 10px;
}

#next-move-icon,
#prev-move-icon {
  aspect-ratio: 1 / 1;
  height: 4vmin;
  width: 100%;
}

#text-areas-container {
  width: 70vmin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#fen-title-box,
#pgn-title-box {
  display: flex;
  align-items: center;
  width: 100%;
}

#fen-title,
#pgn-title {
  flex: 0 0 45px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#pgn-box,
#fen-box {
  flex: 1;
  height: 65px;
  margin-bottom: 10px;
  resize: vertical;
}

@media (max-width: 1010px) {
  .hero {
    width: 100%;
  }

  #outer-container,
  #game-container,
  #text-areas-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #outer-container {
    padding-left: 0;
  }

  .chessboard-wrapper {
    width: 95vmin;
    margin-left: 0;
    padding: 10px;
    order: 1;
  }

  #chessboard-container {
    height: 90vmin;
    width: 90vmin;
  }

  #sidebar {
    order: 2;
    width: 90vmin;
    height: fit-content;
    max-width: none;
    margin: 0;
  }

  #stockfish-analysis {
    grid-template-columns: repeat(4, 1fr) 0fr;
    grid-template-rows: 2fr 1fr;
  }

  #stockfish-analysis-title {
    grid-area: 1 / 1 / 2 / 3;
    justify-self: flex-end;
    align-self: center;
    margin-right: 10px;
  }

  #stockfish-analysis-toggle {
    grid-area: 1 / 3 / 2 / 5;
    align-self: center;
  }

  #sf-comment {
    grid-area: 2 / 1 / 3 / 5;
    text-align: center;
  }

  #flip-fen-import {
    margin-bottom: 20px;
  }

  #move-history {
    min-height: 250px;
    width: 100%;
  }

  #navigation {
    order: -1;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  #text-areas-container {
    width: 90vmin;
    margin-top: 0;
  }

  #fen-title-box,
  #pgn-title-box {
    flex-direction: column;
  }

  #fen-title {
    order: -1;
    margin: 0;
  }

  #pgn-title {
    order: -1;
    margin: 0;
  }
}

@media (max-width: 500px) {
  #stockfish-analysis {
    grid-template-rows: 1fr 1fr;
  }
}
