:root {
  --font-weight: 400;
  --border-radius: 0;
}

h2,
h3,
hgroup > :last-child {
  font-weight: 200;
}

.hero {
  background-color: #394046;
  background-image: url("../images/hero.png");
  background-position: center;
  background-size: cover;
  padding-bottom: 10px;
}

header {
  padding: var(--spacing-company) 0;
}

header hgroup > :last-child {
  color: var(--h3-color);
}

header hgroup {
  margin-bottom: var(--spacing-company);
}

summary[role="link"].contrast:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--contrast-hover);
}

#outer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  margin: auto;
  padding-top: 20px;
  padding-left: 20px;
}

#game-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#chessboard-container {
  width: 70vmin;
  height: 70vmin;
  min-width: 70vmin;
  position: relative;
}

#chessboard {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  z-index: 1;
}

#chessSVG {
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.promotion-selector {
  cursor: pointer;
}

.draggingDiv {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

#sidebar {
  flex-grow: 1;
  height: 85vmin;
  width: 100%;
  max-width: 375px;
  margin: 0px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

#fen-import-container {
  margin-top: 10px;
}

#fen-input {
  width: 100%;
  margin-bottom: 10px;
}

#submit-fen,
#import-from-fen {
  margin-bottom: 10px;
}

#submit-fen {
  background: #21724a;
}

#flip-board,
#import-from-fen,
#reset-board {
  cursor: pointer;
}

#flip-board {
  margin-bottom: 10px;
}

#move-history {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  overflow-y: auto;
}

.current-move-highlight {
  background: #2c5070;
  color: #e3e3e3;
  outline: 1px solid #306698;
}

#move-history-title {
  text-align: center;
}

.full-move {
  display: flex;
  align-items: center;
  margin: 4px;
}

.move-history-entry {
  cursor: pointer;
  margin: 3px;
}

#navigation {
  display: flex;
  justify-content: space-between;
}

#prev-move {
  margin-right: 10px;
}

#next-move {
  margin-left: 10px;
}

#next-move-icon,
#prev-move-icon {
  height: 4vmin;
}

#text-areas-container {
  width: 70vmin;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#pgn-box,
#fen-box {
  width: 100%;
  margin-bottom: 10px;
  resize: vertical;
}

#pgn-box {
  height: 65px;
}

#fen-box {
  height: 65px;
}

@media (max-width: 1010px) {
  .hero {
    width: 100%;
  }

  #outer-container,
  #game-container,
  #text-areas-container {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  #outer-container {
    padding-left: 0;
  }

  .chessboard-wrapper {
    margin-left: 0;
    padding: 10px;
    order: 1;
  }

  #sidebar {
    order: 2;
    width: 70vmin;
    height: fit-content;
    max-width: none;
    margin: 0;
  }

  #move-history {
    min-height: 150px;
    width: 100%;
  }

  #navigation {
    order: -1;
    margin-top: 20px;
  }

  #text-areas-container {
    margin-top: 0;
  }
}
